{{ define "main" }}
  {{- $posts := (where (where site.RegularPages "Section" "posts") ".Params.draft" "ne" true).ByDate.Reverse -}}
  {{- $hero := "" -}}
  {{- if gt (len $posts) 0 }}{{- $hero = index $posts 0 -}}{{- end -}}
  {{- $grid := $posts -}}
  {{- if $hero }}{{- $grid = where $posts "Permalink" "ne" $hero.Permalink -}}{{- end -}}
  <div id="mt-feed-view">{{ partial "home/hero.html" (dict "heroPost" $hero "gridPosts" $grid "sentinelBase" "/posts/") }}</div>
  <div id="mt-article-view" hidden inert></div>
{{ end }}
